/* COLORS */

:root {
  --ACCENT-CLR: #403122;
  --BLACK-OVERLAY-CLR: #0000004a;
  --BTN-INPUT-BORDER-CLR: #fff;
  --CARD-OVERLAY-CLR: #171717b2;
  --HOVER-OVERLAY-CLR: #0a0a0a2e;
  --ICON-BTN-BACKGROUND-CLR: #00000085;
  --LABEL-CLR-INPUT-ANIMATION: #9e9e9e8c;
  --LOGIN-SIGNUP-OUTER-BOX-SHADOW-CLR: #00000070;
  --PRIMARY-BACKGROUND-CLR: #f5f5f5;
  --PRIMARY-FONT-CLR: #000;
  --SECONDARY-BACKGROUND-CLR: #1f1e1a;
  --SECONDARY-BTN-HOVER-CLR: #827a62a8;
  --SECONDARY-FONT-CLR: #fff;
  --SUGGESTION-CARD-BACKGROUND-CLR: #403122c2;
}

/* BORDERS */

:root {
  --INPUT-BTN-BORDER-WIDTH: 1px;
  --BTN-INPUT-BORDER-RADIUS: 0px;
}

/* CARD DIMENSIONS */

:root {
  --CART-PRODUCT-CARD-MIN-WIDTH: 430px;
  --CART-PRODUCT-CARD-MAX-WIDTH: 600px;
  --CART-PRODUCT-CARD-HEIGHT: 175px;
  --PRODUCT-CARD-HEIGHT: 270px;
  --PRODUCT-CARD-MIN-WIDTH: 250px;
  --PRODUCT-CARD-MAX-WIDTH: 280px;
  --SUGGESTION-CARD-HEIGHT: 230px;
  --SUGGESTION-CARD-MIN-WIDTH: 600px;
  --SUGGESTION-CARD-MAX-WIDTH: 800px;
}

/* SPACING */

:root {
  --BTN-INPUT-PADDING-Y: 0.6rem;
  --BTN-INPUT-PADDING-X: 1.3rem;
  --CARD-BTN-PADDING-Y: 0.5rem;
  --CARD-BTN-PADDING-X: 0.9rem;
  --ICON-BTN-PADDING: 0.5rem;
  --NAVBAR-PADDING-Y: 0.7rem;
  --NAVBAR-PADDING-X: 1.3rem;
  --CATEGORY-NAVBAR-PADDING-TOP: 1.5rem;
}
